{% extends "posts/base.html" %}
{% load static %}
{% block navbar %}{% endblock %}

{% block content %}
{% for post in object %}
<div class="container mt-1" style="width: 800px">
       <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{post.post_header}}</h2>
        <h4 class="card-title">{{post.user}}</h4>
        <p class="card-text">{{post.post_text}}</p>
        <a href="detail/{{post.id}}" class="btn btn-primary bg-dark">Read full article</a>
        <p class="card-text">{{post.post_date}}</p>
      </div>
    </div>
  </div>
  
{% endfor %}
{% endblock %}